- if branches.size > 0
  %table.table.table-hover
    %thead
      %th Name
      %th
    %tbody
      - branches.each do |branch|
        %tr
          %td.text-middle
            = branch.name
          %td.text-right
            = link_to edit_center_branch_path(center, branch), class: "btn btn-primary" do
              %i.fa.fa-pencil.fa-fw
            = link_to center_branch_path(center, branch), method: :delete, class: "btn btn-danger" do
              %i.fa.fa-trash-o.fa-fw

- else
  You haven't added any branch yet.
