%table.table.table-hover
  %thead
    %tr
      %th #
      %th Package
      %th Subjects
      %th.text-right
        Price (RM)
  %tbody
    - i = 0
    - student.enrolls.each do |enroll|
      %tr
        %td= i = i + 1
        %td= enroll.enrollable.name
        %td= enroll.subjects.map(&:name).join(", ")
        %td.text-right
          = number_with_precision(enroll.enrollable.price, precision: 2)
