.about-us
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2
          %strong
            Who we are...
        %h3
          We believe software should be useful, simple, and fast – so you can work better, get more accomplished, and make smarter decisions for your business.

        %p &nbsp;

        %p
          Tueetion was developed as an initiative for better management at learning center. Compared to other product, it has simpler interface with faster response. You don't have to worry about server setup as everything is on the cloud. Just sign in to start using it. It's that simple.

        %p
          We are currently located in Kota Bharu, Kelantan, Malaysia. A small, beautiful city where we can make our magic happens. We are dedicated in creating better solutions for you guys out there. Tueetion is not just a simple product, it is our way of introducing ourselves to the world. Tueetion is not funded by anyone, so we can focus solely on what our customers really want.

        %p
          If you have anything to comments, feel free to contact us at our email below. We would be glad to hear from you. We just love to listen to our users, solve problems and continue to improve our service.

        %p &nbsp;

        %iframe{ src: "https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7934.180281584079!2d102.24301188628804!3d6.118567794711415!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smy!4v1409173185991", width: 750, height: 400, frameborder: 0, style: "border: 0" }

        %p &nbsp;

= render 'fronts/footer'
