.pricing
  .container
    .pricing-tables
      %h1.text-center
        Special Promotion
      .row
        .col-md-4.col-md-offset-2
          .plan
            .head
              %h2 Students
            %ul.item-list
              %li
                %strong Unlimited
                Records
              %li
                %strong Unlimited
                Updates
              %li
                %strong Branch
                Support
              %li
                %strong Endless
                Support
            .price
              %h3
                %span.symbol> RM
                0.50
              %h4 per student/month
        .col-md-4
          .plan
            .head
              %h2 SMS
            %ul.item-list
              %li
                %strong Unlimited
                Records
              %li
                %strong Integration
                with Students Records
              %li
                %strong Easier
                with Template
              %li
                %strong Endless
                Support
            .price
              %h3
                %span.symbol> RM
                0.10
              %h4 per SMS

= render 'fronts/get_started'

.pricing-faq
  .container
    .row
      .col-md-8.col-md-offset-2.text-center
        %dl
          %dt
            How much do I have to pay to get started?
          %dd
            All users can start for free without any restriction on the features.
          %dt
            When do I have to start paying?
          %dd
            We believe a user should only start paying when he or she has really started using our application. A user should be able to have a trial period as long as he or she wants, even if that is going to take a few months. So, we'll contact you when we see a real activity from your account after a period of time.
          %dt
            What happens if I don't subscribe to Tueetion?
          %dd
            Subscribe to Tueetion if it is right for you. If not, there’s no need to cancel anything. Your account becomes inactive, but your data remains intact in case you decide to subscribe on another time.
          %dt
            Is there any limitation for non paid user?
          %dd
            There's no limitation for free user.
          %dt
            Can I add additional students in the middle of the month?
          %dd
            Sure you can.
          %dt
            Is there time limit for the SMS credit?
          %dd
            No, your credit won't be expired.
          %dt
            I have more questions. Who do I ask?
          %dd
            Write us at hello@tueetion.com or contact us at (+60) 019-9171765. We’d be happy to chat with you.

= render 'fronts/footer'
