.privacy-policy
  .container
    %h2 Privacy Policy

    %p
      %i Last modified: June 20th, 2014
    %p This Privacy Policy shall be read together with Tueetion’s Terms and Conditions as may from time to time be published on its websites.

    %ol
      %li In order to use the Service, upon registration and from time to time, you will be asked to submit certain personal information about yourself that may or may not identify you to Tueetion. By providing Tueetion with your details in the fields requested, you will enable Tueetion to provide you with the Service. We will treat such personal information in accordance with this Privacy Policy. This privacy policy covers Tueetion, its websites, social media channels, the Service and the Software (hereinafter referred to as “Tueetion’s Digital Assets”).

      %li The Service is provided to you subject to the terms of use and in accordance with the laws of Malaysia.  Tueetion will act in accordance with the Malaysian Personal Data Protection Act 2010 in this Privacy Policy.

      %li Unless otherwise stated to the contrary and for the purposes herein, all words and expressions shall have the same meaning as in Tueetion’s Terms and Conditions.

      %li By submitting your information, you consent to the use and processing of your personal information collected by Tueetion, in the manner as set out in this Privacy Policy. If you do not consent to the collection and/or processing by Tueetion of your personal information for any purpose that it deems appropriate, Tueetion cannot process your personal information and approve the same for registration purposes and use of the Service.

    %h3 Type of Information Tueetion Collects

    %h4 Personal Information
    %ol
      %li Tueetion collects and processes your personal information only with your knowledge and consent when you use Tueetion’s Digital Assets, make use of Tueetion’s product and make service enquiries, or when you respond to communications from Tueetion and other information collected on registration or through surveys.
      %li When you access Tueetion’s Digital Assets, it may automatically collect some information about your preferences, including your internet protocol (IP) address. Tueetion uses this for account management and to help diagnose problems with its servers, to administer Tueetion’s Digital Assets, to improve on its Service and for such other purposes as set out in Section 3 below.
      %li Non-personal Information
      %li Tueetion may automatically collect non-personal information about you such as the type of internet browsers you use or the website from which you linked to Tueetion’s Digital Assets. Tueetion may also aggregate certain details which you have submitted through Tueetion’s Digital Assets. You cannot be identified from this information and it is only used to assist Tueetion in providing an effective service on Tueetion’s Digital Assets.
      %li If at any time Tueetion’s Digital Assets offers any e-mail, feedback or forum facilities, Tueetion may collect the information, which you disclose. Such information will be used in accordance with this Privacy Policy.
      %li When you access Tueetion’s Digital Assets, Tueetion’s web servers will automatically record information that your browser sends whenever you visit Tueetion’s Digital Assets. These server logs may include information such as your web request, internet protocol (IP) address, browser type, browser language, the date and time of your request and one or more cookies that may uniquely identify your browser.

    %h4 Use of Your Personal Information
    %ol
      %li
        The personal information provided in your application to register for the use of Tueetion’s Digital Assets including any additional information you may subsequently provide, may be used and processed by Tueetion for the following purposes:-
        %ul
          %li Assessing your application to register for the use of the Service;
          %li To technically administer Tueetion’s Digital Assets and conduct internal activities;
          %li To create user profiling and preferences and verify and record your personal particulars including comparing it with information from other sources and using the information to communicate with you;
          %li To provide services to you and respond to your inquiries;
          %li To provide improve on its services to you;
          %li To manage and administer your participation in any of its campaigns, where applicable;
          %li To undertake market surveys, market research and development, statistical and trend analysis;
          %li To be used as deemed necessary by Tueetion across its Digital Assets;
          %li To provide you with information on products and services of  Tueetion; and/or
          %li Such other purposes as may from time to time be set out in the Terms of Use of Tueetion’s Digital Assets.
      %li In relation to direct marketing, subject to due acknowledgement of your request by Tueetion, you may request Tueetion by written notice to the address provided herein not to process your personal information for the purpose of advertising or marketing via phone, post, email or mobile text message or whatever means any product or service of Tueetion and any of its affiliates;
      %li If Tueetion wishes to use your personal information for new purposes, this will, from time to time, be updated in this Privacy Policy and Tueetion will offer you the means to withhold your consent to those new purposes by sending an email to Tueetion.
      %li As part of the products or services offered to you through Tueetion’s Digital Assets, the information you provide to Tueetion may be transferred to countries outside of Malaysia to which you hereby agree. By way of example, this may happen if any of Tueetion’s servers are from time to time located in a country outside of Malaysia or one of Tueetion’s service providers is located in a country outside Malaysia. If Tueetion transfers your information outside of Malaysia in this way, Tueetion will take steps to ensure that your privacy rights continue to be protected. In addition, if you use Tueetion’s services while you are outside Malaysia, your information may be transferred outside Malaysia in order to provide you with those services.
      %li Tueetion may receive personal data about you from third parties. In such event, Tueetion may add this data to the data Tueetion already received from you for the purposes described in this Privacy Policy.

    %h4 Discolosure of your Personal Information

    %ol
      %li Tueetion does not share with others any personal information that you provide to Tueetion through Tueetion’s Digital Assets, except with your consent or as described in this Privacy Policy.
      %li Subject to the opt-out choices that you may have made when you provided Tueetion with such information, Tueetion may share your personal information with Third Parties engaged to perform services related to Tueetion’s Digital Assets or the operation of Tueetion’s business. Examples of these services include website operation, subscriber processing and authorisation, credit or debit card processing [if applicable], authorisation and payments [if applicable], fraud protection and risk reduction, product and service customization, advertising and Service promotional material distribution, data and trend analysis and, where applicable, data maintenance and cleansing. The Third Parties are authorized to use this personal information only in connection with the services they are engaged to perform.
      %li
        Except as set out in this Privacy Policy, Tueetion will not disclose any personally identifiable information without your permission unless Tueetion:
        %ul
          %li is legally entitled or required to do so by law or advice or for legal proceedings or the exercise of any functions conferred by law; or
          %li believes that such release is necessary to protect and/or defend  Tueetion’s rights, title or interest including Tueetion’s Digital Assets and the rights, title or interest of  Tueetion’s users, Third Parties, customers or others; or
          %li believes in good faith that the law or legal process requires it for the administration of justice;
          %li Tueetion has received a valid administrative request from a law enforcement agency or court;
          %li believes that the user is harming or interfering with other users of Tueetion’s Digital Assets, anyone else, or violating Tueetion’s Digital Assets’ Terms of Use / subscription agreement [if any], or infringing any of  Tueetion’s legal rights.
      %li
        In addition to the foregoing and notwithstanding anything to the contrary under this Privacy Policy, Tueetion shall not be liable to you or to any other person in respect of any personal information processed:
        %ul
          %li in pursuance of a non-commercial transaction that falls under the Credit Reporting Agencies Act 2010;
          %li outside of Malaysia; and
          %li for use by any person or entity not established in Malaysia.
      %li In the event of a sale of all or most of the assets of Tueetion, this information may be transferred to the purchaser.
      %li Tueetion may share non-personal information with its marketing partners, advertisers and others from time to time. Examples of such non-personal information include the number of users who visited Tueetion’s Digital Assets during a specific time period. This information generally is shared in an aggregated form.

    %h4 Third Party Websites

    %ol
      %li Tueetion’s Digital Assets may contain, from time to time, links to other web sites. Please be advised that the practices described in this Privacy Policy do not apply to information gathered through these other websites.
      %li
        Tueetion cannot be held responsible for the privacy policies and practices of other websites even if:
        %ul
          %li you accessed the third party website using links from Tueetion’s Digital Assets; or
          %li you linked to Tueetion’s Digital Assets from a third party website.
          %li Tueetion recommends that you check and read the policy of each and every site you visit and contact the owner or operator of such website if you have any concerns or questions.

    %h4 Choice, Change, Update of and Access to your Information

    %ol
      %li
        You can choose to limit the processing of your data, access to and amend/correct the the data that you have given to Tueetion by putting your request down in writing and sending it to

        Chief Executive Officer
        Deebzy,
        Pt 533, Lorong Masjid Al-Muttaqin, Jalan Dato’ Lundang,
        15200 Kota Bharu, Kelantan, Malaysia.

    %h4 Cookies

    %ol
      %li Tueetion may store some information (commonly known as a "cookie") on your computer when you log in to Tueetion’s Digital Assets. Tueetion’s Digital Assets is able to read these cookies for information purposes when you revisit Tueetion’s Digital Assets. The type of information Tueetion collects as a result of a cookie being accepted by you is specific to your personal computer and includes the internet protocol (IP) address, the date and time the personal computer visited the Website, what parts of Tueetion’s Digital Assets were looked at and whether the web pages requested were delivered successfully. This information is anonymous; it represents a computer rather than a person.
      %li Tueetion uses the cookie information to improve its knowledge of the use of Tueetion’s Digital Assets and to enable Tueetion to be able to ascertain whether Tueetion’s Digital Assets are operating at an optimal level. This allows Tueetion to enhance its offerings to you and to provide an enjoyable and an innovative online experience.
      %li Some of Tueetion’s business partners may use cookies on Tueetion’s Digital Assets (for example, links to business partners). Tueetion does not want its business partners to use cookies to track Tueetion’s Digital Assets’ users' activities once they leave Tueetion’s Digital Assets. However, Tueetion may not have total control over how its business partners may use cookies on Tueetion’s Digital Assets. If you become aware that Tueetion’s business partner is placing an unwanted cookie on your hard drive, please contact Tueetion to assist Tueetion in resolving the problem.

    %h4 Data Retention

    %ol
      %li Your Personal Data can be retained until three (3) months from the date you notify Tueetion of your wish to limit or refrain from using your personal information, and may be retained in either a physical or electronic format. Upon the expiry of the aforementioned period, your personal data shall be securely and permanently deleted from Tueetion’s database.

    %h4 Security

    %ol
      %li Security measures, including Secure Socket Layer (SSL) encryption technology, are in place in order to protect personal information that Tueetion collects from unauthorised access, improper use or disclosure, unauthorised modification, unlawful destruction or accidental loss. The said personal information will be stored and backed up securely in an environmentally-controlled location. Only authorized people with user ID and password from Tueetion have access to the information. All Tueetion’s employees and data processors, who have access to and are associated with the processing of personal information, are obliged to respect the confidentiality of your account information.

    %h4 Changes to this Privacy Policy

    %ol
      %li From time to time, Tueetion may make changes to this Privacy Policy. If Tueetion makes any substantial changes to this Privacy Policy and the way in which it uses your personal data Tueetion will post these changes on this page. Please check this Privacy Policy on a regular basis. If this Privacy Policy changes in any way, it will be updated on this page. Regularly reviewing this page ensures you are updated on the information which is collected, how it is used and under what circumstances, if any, it is shared with other parties.

