.breadcrumb-container
  %ol.breadcrumb
    %li= link_to "Home", root_path
    %li Reports
    %li.active Registrations

= render 'layouts/flashes/flash_messages'

.row
  .col-md-12
    .panel.panel-borderless
      .panel-body
        - data = registrations_chart_data
        #reports-registrations-chart{ data: { year: @current_year, categories: "#{(1..data.length).to_a}", values: "#{data}" } }

