%table.table.table-hover.table-striped
  %thead
    %tr
      %th #
      %th Bill #
      %th Amount
      %th Paid At
  %tbody
    - payments.each do |payment|
      %tr
        %td #
        %td= payment.bill.number
        %td= payment.amount
        %td= payment.paid_at

