= form_for [@combination_fee, @combination_item_fee], html: { class: "form-horizontal", role: "form" } do |f|

  .form-group
    = f.label :subject_id, class: "col-lg-2 control-label"
    .col-lg-5
      = f.select :subject_id, @subjects_for_select, {}, { class: "form-control" }

  .form-group
    .col-lg-offset-2.col-lg-10
      %button.btn.btn-primary{ type: "submit"}
        Save
      or
      = link_to "Cancel", @combination_fee

