@import "bootstrap";

body {
  padding-top: 30px;
}

.header {
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.marketing {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5
}

// General usage
.margin-top-md {
  margin-top: 25px;
}

.margin-top-lg {
  margin-top: 50px;
}

.right-border {
  height: 200px;
  border-right: 1px solid #e5e5e5;
}

