// Override variables
//

// Override container width, make it smaller
// Ref: http://stackoverflow.com/questions/19430217/
$grid-gutter-width: 20px;
$container-desktop: 940px;
$container-lg-desktop: $container-desktop;

// Body background
$body-bg: whitesmoke;

// Breadcrumb background colour
$breadcrumb-bg: white;

// Typography
$font-family-sans-serif: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Buttons
$btn-primary-bg: #06C;

@import "bootstrap";

// Mixins
//
.panel-borderless {
  @include panel-variant(transparent, black, transparent, transparent);
}

.panel-body-sidebar {
  padding: 8px;
}

// Buttons
@mixin button-shadow($colour) {
  -webkit-box-shadow:0 1px 0 $colour;
     -moz-box-shadow:0 1px 0 $colour;
          box-shadow:0 1px 0 $colour;
}
.btn-default {
  @include button-shadow(#ccc);
}

.btn-primary {
  @include button-shadow(#105296);
}

.btn-danger {
  @include button-shadow(#971139);
}


// Custom
//
body {
  padding-top: 30px;
}

.header {
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.marketing {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
}

.footer {
  padding-top: 18px;
  padding-bottom: 10px;
  color: #777;
}

.required:after {
  content: '*';
}

// Components

.section-title {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 10px;
  }
}

.panel-status {
  padding-top: 0px;
  text-align: center;

  h3 {
    font-weight: bold;
    color: #8493ca;
  }

  p {
    color: #7d7d7d;
    text-transform: uppercase;
  }
}

#box-sm {
  .spacer {
    padding: 30px 0 30px 0;
  }

  h1 {
    padding-bottom: 15px;
  }

  .panel {
    -webkit-box-shadow: 0 3px 0 #ccc;
       -moz-box-shadow: 0 3px 0 #ccc;
            box-shadow: 0 3px 0 #ccc;
  }
}

// General usage
.margin-top-md {
  margin-top: 25px;
}

.margin-bottom-md {
  margin-bottom: 25px;
}

.margin-top-lg {
  margin-top: 50px;
}

.right-border {
  height: 200px;
  border-right: 1px solid #e5e5e5;
}

.table-text-middle > tbody > tr > td {
  vertical-align: middle;
}

.top-buffer {
  margin-top: 20px;
}

.right-form-buffer {
  margin-right: 10px;
}

// Overrides
dt, dd {
  line-height: 2.42857;
}

.help-block {
  margin-bottom: 0px;
}
