-# = form_for @student, url: student_quantity_fee_enrolls_path(@student), html: { class: "form-horizontal", role: "form" }, method: :post do |f|
-# 
-#   = f.fields_for :enrolls do |builder|
-#     = render "enroll_fields", f: builder
-# 
-#   .form-group
-#     .col-lg-12
-#       .col-lg-offset-2.col-lg-10
-#         = f.submit class: "btn btn-primary", data: { :"disable-with" => "Submitting..." }
-#         or
-#         = link_to "Cancel", @student
-# 
-# 
