<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Get in touch with use if you have a large amount of data that you want to import automatically.
</div>
