.header
  %ul.nav.nav-pills.pull-right
    %li
      %a{:href => "#"} Pricing
    %li
      %a{:href => "#"} Features
    %li
      %a{:href => "#"} Contact
    %li
      %a{:href => new_user_session_path} Sign in
    %li.active
      %a{:href => new_user_registration_path} Sign up
  %h3.text-muted Tueetion
.jumbotron
  %h1 Jumbotron heading
  %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  %p
    %a.btn.btn-lg.btn-success{:href => new_user_registration_path} Sign up today
.marketing
  .row
    .col-md-3.right-border
      %img{:src => "http://en.windu.org/data/themes/windu/img/basic2-057.png"}
        %h3 Very easy to use
        Windu CMS is a simple, lightweight and fun-to-use website content management software.
    .col-md-3.right-border
      %img{:src => "http://en.windu.org/data/themes/windu/img/basic2-267.png"}
        %h3 Quick and easy to install
        Ultrafast SQLite database and intuitive administration panel make Windu CMS capable of
    .col-md-3.right-border
      %img{:src => "http://en.windu.org/data/themes/windu/img/basic2-269.png"}
        %h3 Security
        When We created the system We paid special attention to the security of both the
    .col-md-3
      %img{:src => "http://en.windu.org/data/themes/windu/img/basic2-295.png"}
        %h3 High performance
        The use of file-based database and efficient object-oriented PHP code, Windu CMS is
  .row.margin-top-lg
    .col-md-12
      %button.btn.btn-info.btn-lg{:type => "button"} Read more
.row.info.margin-top-md
  .col-md-6
    %h4 Tueetion
    %p
      Foundation is made by ZURB, a product design company in Campbell, California. We've put more than 15 years of experience building web products, services and websites into this framework.
  .col-md-3
    %h4 Our Company
    %ul
      %li Privacy Policy
      %li Terms &amp; Conditions
  .col-md-3
    %h4 Reach us
    %ul
      %li Twitter
      %li Facebook
