<!DOCTYPE html>
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Tueetion</title>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="shortcut icon" href="https://tueetion.com/favicon.ico" />
  <%= csrf_meta_tags %>

  <meta property="og:title" content="Manage your learning center better." />
  <meta property="og:site_name" content="Tueetion"/>
  <meta property="og:url" content="https://tueetion.com" />
  <meta property="og:description" content="Tueetion is an application that
  will help you manage your learning center better and faster. It has some
  features such as Dashboard, Simple Data Entry, Bill Management, Print,
  SMS Messaging, SMS Template, Multiple Reports, Charts, Customization
  and others. Get started now with our free 1 month trial." />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="536633399802906" />
  <meta property="og:image" content="https://tueetion.com<%= asset_path 'facebook-share.png' %>" />
</head>

