%ul.nav.nav-pills.nav-stacked
  %li
    = link_to edit_settings_accounts_path do
      %i.fa.fa-user.fa-fw
      Profile
  %li
    = link_to edit_password_settings_accounts_path do
      %i.fa.fa-key.fa-fw
      Change Password

  - if current_user.is_owner?
    %li
      = link_to settings_subscriptions_path do
        %i.fa.fa-dollar.fa-fw
        Subscriptions

    %li
      = link_to settings_credits_path do
        %i.fa.fa-mobile.fa-fw
        SMS Credits

