<%= render 'layouts/header' %>

<body>
  <div class="container">

    <% if current_user %>
      <%= render 'layouts/user' %>
    <% else %>
      <%= render 'layouts/guest' %>
    <% end %>

    <div class="footer">
      <p>Copyright &copy; 2013 Deebzy</p>
    </div>
  </div>
</body>
</html>
